@charset "UTF-8";

/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "EBGaramond";
  src: url("../fonts/EBGaramond-VariableFont_wght.ttf") format("Truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("../fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("Truetype");
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --container-width: 1680px;
  --font-main: "EBGaramond";
  --color-accent: #d4b07b;
  --color-black: #2f2b2b;
  --color-darkgray: #4e4a49;
  --color-gray: #7d7875;
  --color-bg: #f3ece4;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

html.no-scroll {
  overflow: hidden;
}

body {
  background-color: var(--color-bg);
  color: var(--color-black);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body * {
  font-family: var(--font-main);
}

main {
  flex-grow: 1;
}

img {
  pointer-events: none;
}

.container {
  max-width: var(--container-width);
  width: 87.5vw;
  margin: 0 auto;
  position: relative;
}

* {
  caret-color: var(--color-accent);
}

.section-title {
  font-weight: 700;
  font-size: clamp(18.48px, 2.9166666667vw, 56px);
  line-height: clamp(21.12px, 3.3333333333vw, 64px);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: clamp(5.28px, 0.8333333333vw, 16px);
  color: var(--color-black);
}

p {
  font-size: clamp(8.58px, 1.3541666667vw, 26px);
  line-height: 130%;
  color: var(--color-gray);
  margin: clamp(5.28px, 0.8333333333vw, 16px) clamp(0px, 0vw, 0px) clamp(5.28px, 0.8333333333vw, 16px) clamp(0px, 0vw, 0px);
}

section:not(.offer) .container {
  padding: clamp(31.68px, 5vw, 96px) clamp(0px, 0vw, 0px) clamp(31.68px, 5vw, 96px) clamp(0px, 0vw, 0px);
}

section:not(.offer).dark {
  background-color: var(--color-black);
  color: var(--color-bg);
}

section:not(.offer).dark .section-title {
  color: var(--color-accent);
}

section:not(.offer).dark p {
  color: var(--color-bg);
}

.slider-nav {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.slider-nav-btn {
  cursor: pointer;
  width: clamp(21.12px, 3.3333333333vw, 64px);
  height: clamp(21.12px, 3.3333333333vw, 64px);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.slider-nav-btn svg {
  width: clamp(10.56px, 1.6666666667vw, 32px);
  height: clamp(10.56px, 1.6666666667vw, 32px);
}

.slider-nav-btn path {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  fill: var(--color-bg);
}

.slider-nav-btn:active {
  background-color: var(--color-accent) !important;
}

.btn {
  background-color: var(--color-accent);
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: clamp(5.28px, 0.8333333333vw, 16px);
  padding: clamp(6.27px, 0.9895833333vw, 19px) clamp(10.56px, 1.6666666667vw, 32px) clamp(6.27px, 0.9895833333vw, 19px) clamp(10.56px, 1.6666666667vw, 32px);
  font-weight: 600;
  font-size: clamp(6.6px, 1.0416666667vw, 20px);
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.btn svg {
  width: clamp(9.24px, 1.4583333333vw, 28px);
  height: clamp(9.24px, 1.4583333333vw, 28px);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn path {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  fill: var(--color-black);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /* ширина scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--color-bg);
  /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  /* цвет плашки */
}

input {
  padding: clamp(6.27px, 0.9895833333vw, 19px) clamp(7.92px, 1.25vw, 24px) clamp(6.27px, 0.9895833333vw, 19px) clamp(7.92px, 1.25vw, 24px);
  background-color: var(--color-bg);
  color: var(--color-black);
  font-size: clamp(6.6px, 1.0416666667vw, 20px);
  line-height: 130%;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

input::placeholder {
  color: var(--color-gray);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.check-label {
  cursor: pointer;
}

.check-label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.check-label .fakecheck {
  height: clamp(10.56px, 1.6666666667vw, 32px);
  width: clamp(10.56px, 1.6666666667vw, 32px);
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
  border: 1px solid var(--color-gray);
  outline: 0.5px solid transparent;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.check-label .fakecheck svg polyline {
  stroke: var(--color-accent);
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  -webkit-transition: all 0.1s ease-out 0s;
  -moz-transition: all 0.1s ease-out 0s;
  -ms-transition: all 0.1s ease-out 0s;
  -o-transition: all 0.1s ease-out 0s;
  transition: all 0.1s ease-out 0s;
}

.check-label .fakecheck.checked {
  outline: 0.5px solid var(--color-accent);
  border-color: var(--color-accent);
}

.check-label .fakecheck.checked svg polyline {
  stroke-dashoffset: 0;
}

.custom-select {
  position: relative;
}

.custom-select.initial .custom-select-input span {
  color: var(--color-gray);
}

.custom-select.active .custom-select-input svg {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.custom-select .custom-select-input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(6.27px, 0.9895833333vw, 19px) clamp(7.92px, 1.25vw, 24px) clamp(6.27px, 0.9895833333vw, 19px) clamp(7.92px, 1.25vw, 24px);
  background-color: var(--color-bg);
  color: var(--color-black);
  font-size: clamp(6.6px, 1.0416666667vw, 20px);
  line-height: 130%;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
}

.custom-select .custom-select-input span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-select .custom-select-input svg {
  width: clamp(7.92px, 1.25vw, 24px);
  height: clamp(7.92px, 1.25vw, 24px);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.custom-select .custom-select-options {
  position: absolute;
  width: 100%;
  top: calc(100% + 5px);
  left: 0;
  background: var(--color-bg);
  border: 1px solid var(--color-accent);
  z-index: 1;
  display: none;
}

.custom-select .custom-option {
  cursor: pointer;
  padding: clamp(2.64px, 0.4166666667vw, 8px) clamp(7.92px, 1.25vw, 24px) clamp(2.64px, 0.4166666667vw, 8px) clamp(7.92px, 1.25vw, 24px);
  font-size: clamp(6.6px, 1.0416666667vw, 20px);
  line-height: 110%;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.custom-select .custom-option.selected {
  background: var(--color-accent);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  --header-height: clamp(52.8px, 8.3333333333vw, 160px);
  height: var(--header-height);
}

.header.animated {
  -webkit-transition: top 0.4s ease-out 0s;
  -moz-transition: top 0.4s ease-out 0s;
  -ms-transition: top 0.4s ease-out 0s;
  -o-transition: top 0.4s ease-out 0s;
  transition: top 0.4s ease-out 0s;
  height: clamp(47.52px, 7.5vw, 144px);
}

.header.animated .container {
  height: 100%;
  margin: 0 !important;
  background-color: var(--color-black);
  padding-block: 0 !important;
  padding-inline: calc((100vw - min(87.5vw, var(--container-width))) / 2) !important;
  max-width: 100% !important;
  width: 100vw !important;
}

.header.animated .header__logo path {
  fill: var(--color-bg);
}

.header.animated .header__logo path.dynamic {
  fill: var(--color-accent);
}

.header.animated .header__nav {
  align-self: stretch;
  height: 100%;
}

.header.animated .header__nav ul {
  color: var(--color-bg);
}

.header.animated .header__btn {
  height: 100%;
}

.header .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: clamp(7.92px, 1.25vw, 24px);
  padding-bottom: clamp(7.92px, 1.25vw, 24px);
}

.header__logo {
  width: clamp(36.63px, 5.78125vw, 111px);
  height: clamp(36.63px, 5.78125vw, 111px);
  display: block;
}

.header__logo path {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.header__nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: clamp(26.4px, 4.1666666667vw, 80px);
  font-weight: 600;
}

.header__nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: clamp(15.84px, 2.5vw, 48px);
}

.header__nav li {
  font-size: clamp(7.92px, 1.25vw, 24px);
  letter-spacing: 0.02em;
}

.header__nav li a {
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  display: block;
}

.header__nav li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: clamp(1.32px, 0.2083333333vw, 4px);
  background-color: var(--color-accent);
  -moz-transform: translate(0, 120%);
  -ms-transform: translate(0, 120%);
  -webkit-transform: translate(0, 120%);
  -o-transform: translate(0, 120%);
  transform: translate(0, 120%);
  transform: translateY(120%);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.header__btn {
  padding: clamp(6.6px, 1.0416666667vw, 20px) clamp(7.92px, 1.25vw, 24px) clamp(6.6px, 1.0416666667vw, 20px) clamp(7.92px, 1.25vw, 24px);
  background: var(--color-accent);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: clamp(5.28px, 0.8333333333vw, 16px);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  text-transform: uppercase;
  font-size: clamp(6.6px, 1.0416666667vw, 20px);
}

.header__btn svg {
  width: clamp(7.92px, 1.25vw, 24px);
  height: clamp(7.92px, 1.25vw, 24px);
}

.header__btn path {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.offer {
  padding-top: clamp(52.8px, 8.3333333333vw, 160px);
  position: relative;
}

.offer .container {
  position: static;
}

.offer__line {
  position: absolute;
  width: 100vw;
  top: clamp(52.8px, 8.3333333333vw, 160px);
  left: 0;
}

.offer::after,
.offer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: clamp(83.82px, 13.2291666667vw, 254px);
  left: 0;
  opacity: 0.32;
}

.offer:after {
  background: linear-gradient(0, var(--color-accent) 0%, rgba(221, 191, 147, 0) 100%);
  bottom: 0;
}

.offer:before {
  background: linear-gradient(180deg, var(--color-accent) 0%, rgba(221, 191, 147, 0) 100%);
  top: 0;
}

.offer__bg,
.offer__bg2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  z-index: -1;
}

.offer__bg2 {
  opacity: 0.08;
}

.offer__slider {
  padding-top: clamp(49.5px, 7.8125vw, 150px);
  padding-bottom: clamp(16.5px, 2.6041666667vw, 50px);
  overflow: visible;
}

.offer__slide {
  min-height: clamp(125.4px, 19.7916666667vw, 380px);
}

.offer__slide.swiper-slide-active h1,
.offer__slide.swiper-slide-active h2,
.offer__slide.swiper-slide-active p {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.offer__text {
  width: clamp(269.28px, 42.5vw, 816px);
}

.offer__text h1,
.offer__text h2 {
  font-weight: 700;
  font-size: clamp(19.8px, 3.125vw, 60px);
  line-height: clamp(22.44px, 3.5416666667vw, 68px);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: clamp(10.56px, 1.6666666667vw, 32px);
  -moz-transform: translate(-200px, 0);
  -ms-transform: translate(-200px, 0);
  -webkit-transform: translate(-200px, 0);
  -o-transform: translate(-200px, 0);
  transform: translate(-200px, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease-out 0s;
  -moz-transition: all 0.6s ease-out 0s;
  -ms-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
}

.offer__text h1 mark,
.offer__text h2 mark {
  background: transparent;
  position: relative;
  white-space: nowrap;
  color: var(--color-black);
}

.offer__text h1 mark:after,
.offer__text h2 mark:after {
  content: "";
  position: absolute;
  width: 100%;
  height: clamp(9.24px, 1.4583333333vw, 28px);
  bottom: 0;
  left: 0;
  background-color: var(--color-accent);
  z-index: -1;
}

.offer__text p {
  font-weight: 500;
  font-size: clamp(9.24px, 1.4583333333vw, 28px);
  line-height: 130%;
  color: var(--color-gray);
  opacity: 0;
  -moz-transform: translate(-200px, 0);
  -ms-transform: translate(-200px, 0);
  -webkit-transform: translate(-200px, 0);
  -o-transform: translate(-200px, 0);
  transform: translate(-200px, 0);
  -webkit-transition: all 0.6s ease-out 0.1s;
  -moz-transition: all 0.6s ease-out 0.1s;
  -ms-transition: all 0.6s ease-out 0.1s;
  -o-transition: all 0.6s ease-out 0.1s;
  transition: all 0.6s ease-out 0.1s;
}

.offer__text p strong {
  font-weight: 800;
}

.offer__img {
  position: absolute;
  bottom: 0;
  left: 50.95%;
}

.offer__img img {
  width: clamp(311.52px, 49.1666666667vw, 944px);
  height: clamp(265.65px, 41.9270833333vw, 805px);
  object-fit: cover;
}

@keyframes offerCircle {
  0% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    animation-timing-function: ease-out;
  }

  30% {
    -moz-transform: rotate(-8deg) scale(1.02);
    -ms-transform: rotate(-8deg) scale(1.02);
    -webkit-transform: rotate(-8deg) scale(1.02);
    -o-transform: rotate(-8deg) scale(1.02);
    transform: rotate(-8deg) scale(1.02);
    animation-timing-function: ease-out;
  }

  50% {
    -moz-transform: rotate(8deg) scale(1.04);
    -ms-transform: rotate(8deg) scale(1.04);
    -webkit-transform: rotate(8deg) scale(1.04);
    -o-transform: rotate(8deg) scale(1.04);
    transform: rotate(8deg) scale(1.04);
    animation-timing-function: ease-out;
  }

  70% {
    -moz-transform: rotate(-8deg) scale(1.02);
    -ms-transform: rotate(-8deg) scale(1.02);
    -webkit-transform: rotate(-8deg) scale(1.02);
    -o-transform: rotate(-8deg) scale(1.02);
    transform: rotate(-8deg) scale(1.02);
    animation-timing-function: ease-out;
  }

  100% {
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes pulsing {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    width: 180%;
    height: 180%;
  }

  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.offer__img a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: clamp(114.84px, 18.125vw, 348px);
  left: clamp(41.25px, 6.5104166667vw, 125px);
  z-index: 100;
  position: absolute;
  border-radius: 100%;
  width: clamp(73.92px, 11.6666666667vw, 224px);
  aspect-ratio: 1/1;
  font-weight: 600;
  font-size: clamp(5.94px, 0.9375vw, 18px);
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: var(--color-bg);
  border: 8px solid var(--color-accent);
  outline: 2px solid var(--color-bg);
  box-shadow: 0px 0px 3.23px 0px var(--color-accent), 0px 0px 6.45px 0px var(--color-accent), 0px 0px 22.58px 0px var(--color-accent), 0px 0px 45.16px 0px var(--color-accent), 0px 0px 77.41px 0px var(--color-accent), 0px 0px 135.48px 0px var(--color-accent);
  animation: offerCircle 7.5s ease-out 0s infinite;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.offer__img a span {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  background: var(--color-bg);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  position: relative;
}

.offer__img a span::after,
.offer__img a span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.offer__img a span::after {
  z-index: -1;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle at center, rgba(243, 236, 228, 0.0588235294), rgba(243, 236, 228, 0.2));
}

.offer__img a span::before {
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border: 8px solid var(--color-accent);
  outline: 2px solid var(--color-bg);
  z-index: 1;
}

.offer__img a::before,
.offer__img a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 100%;
  background: radial-gradient(circle at center, rgba(212, 176, 123, 0.5294117647), var(--color-accent));
  opacity: 0.4;
  z-index: -1;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.offer__img a::before {
  animation: pulsing 4s ease-out 2s infinite;
}

.offer__img a::after {
  animation: pulsing 4s ease-out 3s infinite;
}

.offer__pagination {
  margin-top: clamp(39.6px, 6.25vw, 120px);
  text-align: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(5.28px, 0.8333333333vw, 16px);
  position: static;
  flex-wrap: wrap;
}

.offer__pagination .swiper-pagination-bullet {
  width: clamp(102.3px, 16.1458333333vw, 310px);
  background: var(--color-black);
  color: var(--color-bg);
  opacity: 1;
  height: auto;
  display: block;
  border-radius: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(3.96px, 0.625vw, 12px);
  padding: clamp(5.28px, 0.8333333333vw, 16px) clamp(5.28px, 0.8333333333vw, 16px) clamp(5.28px, 0.8333333333vw, 16px) clamp(3.96px, 0.625vw, 12px);
  position: relative;
  overflow: hidden;
  margin: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.offer__pagination .swiper-pagination-bullet:active:not(.offer__pagination .swiper-pagination-bullet-active) {
  background: var(--color-gray) !important;
}

.offer__pagination .swiper-pagination-bullet:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray);
  left: 0;
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  top: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.offer__pagination .swiper-pagination-bullet-active::after {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 6.7s linear 0s;
  -moz-transition: all 6.7s linear 0s;
  -ms-transition: all 6.7s linear 0s;
  -o-transition: all 6.7s linear 0s;
  transition: all 6.7s linear 0s;
}

.offer__pagination .swiper-pagination-bullet-active.initial::after {
  -webkit-transition: all 6s linear 0s;
  -moz-transition: all 6s linear 0s;
  -ms-transition: all 6s linear 0s;
  -o-transition: all 6s linear 0s;
  transition: all 6s linear 0s;
}

.offer__pagination .swiper-pagination-bullet strong {
  display: block;
  color: var(--color-accent);
  font-size: clamp(18.48px, 2.9166666667vw, 56px);
  line-height: clamp(15.18px, 2.3958333333vw, 46px);
  width: clamp(13.2px, 2.0833333333vw, 40px);
  flex-shrink: 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.offer__pagination .swiper-pagination-bullet p {
  font-weight: 300;
  font-size: clamp(6.93px, 1.09375vw, 21px);
  line-height: 110%;
  vertical-align: middle;
  position: relative;
  color: var(--color-bg);
  margin: 0;
  z-index: 1;
}

.about .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(15.84px, 2.5vw, 48px);
}

.about__bg {
  position: absolute;
  width: auto;
  height: 100%;
  bottom: 0;
  right: 0;
}

.about__slider {
  width: clamp(221.76px, 35vw, 672px);
  flex-shrink: 0;
  margin: 0;
  padding: clamp(5.28px, 0.8333333333vw, 16px) clamp(0px, 0vw, 0px) clamp(0px, 0vw, 0px) clamp(5.28px, 0.8333333333vw, 16px);
}

.about__slider:before {
  content: "";
  position: absolute;
  width: calc(100% - clamp(5.28px, 0.8333333333vw, 16px));
  height: calc(100% - clamp(5.28px, 0.8333333333vw, 16px));
  top: 0;
  left: 0;
  border: 2px solid var(--color-accent);
}

.about__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -moz-transform: translate(-32px, -32px);
  -ms-transform: translate(-32px, -32px);
  -webkit-transform: translate(-32px, -32px);
  -o-transform: translate(-32px, -32px);
  transform: translate(-32px, -32px);
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.about__slide.swiper-slide-active img {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.about__description {
  height: fit-content;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: clamp(15.84px, 2.5vw, 48px);
  min-width: 0;
}

.about__thumbs-slider {
  width: 100%;
}

.about__thumbs-slide {
  cursor: pointer;
  position: relative;
  aspect-ratio: 1/1;
}

.about__thumbs-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about__thumbs-slide:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-bg);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  opacity: 0;
}

.about__thumbs-slide.swiper-slide-thumb-active:after {
  opacity: 0.5;
  border: 2px solid var(--color-accent);
}

.trainers {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(15.84px, 2.5vw, 48px);
  align-items: end;
  padding-left: calc((100vw - min(87.5vw, var(--container-width))) / 2);
  padding-top: clamp(31.68px, 5vw, 96px);
  padding-bottom: clamp(31.68px, 5vw, 96px);
  position: relative;
}

.trainers__bg {
  position: absolute;
  width: auto;
  height: 100%;
  bottom: 0;
  left: calc((100vw - min(87.5vw, var(--container-width))) / 2);
  z-index: -1;
}

.trainers__description {
  width: clamp(221.76px, 35vw, 672px);
  flex-shrink: 0;
  z-index: 2;
}

.trainers__text {
  margin-bottom: clamp(15.84px, 2.5vw, 48px);
}

.trainers__nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.trainers__slider-nav {
  position: static;
}

.trainers__slider {
  margin: 0;
}

.trainers__slide {
  width: clamp(126.72px, 20vw, 384px);
  height: clamp(157.74px, 24.8958333333vw, 478px);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  margin-right: clamp(5.28px, 0.8333333333vw, 16px);
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.trainers__slide.swiper-slide-prev {
  opacity: 0;
}

.trainers__slide img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  transform-origin: top center;
  filter: grayscale(1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.trainers__slide-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.trainers__slide-info {
  background-color: var(--color-black);
  color: var(--color-bg);
  padding: clamp(5.28px, 0.8333333333vw, 16px) clamp(5.28px, 0.8333333333vw, 16px) clamp(5.28px, 0.8333333333vw, 16px) clamp(5.28px, 0.8333333333vw, 16px);
  z-index: 2;
  position: relative;
  margin-top: auto;
}

.trainers__slide-info strong,
.trainers__slide-info span {
  display: block;
  font-weight: 600;
  font-size: clamp(7.92px, 1.25vw, 24px);
  line-height: 130%;
  text-align: center;
}

.trainers__slide-info strong {
  font-weight: 600;
}

.trainers__slide-info span {
  color: var(--color-gray);
}

.trainers__slide-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 2;
  position: relative;
}

.tariffs__bg {
  position: absolute;
  height: 100%;
  max-width: 1151px;
  max-height: 1003px;
  bottom: 0;
  right: 0;
}

.tariffs .container {
  text-align: center;
}

.tariffs__list {
  margin-top: clamp(21.12px, 3.3333333333vw, 64px);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding-top: clamp(50.16px, 7.9166666667vw, 152px);
}

.tariffs__item {
  border: 1px solid var(--color-gray);
  padding: clamp(26.4px, 4.1666666667vw, 80px) clamp(10.56px, 1.6666666667vw, 32px) clamp(10.56px, 1.6666666667vw, 32px) clamp(10.56px, 1.6666666667vw, 32px);
  position: relative;
  width: clamp(174.57px, 27.5520833333vw, 529px);
}

.tariffs__item:nth-of-type(2) {
  border: 2px solid var(--color-accent);
  padding: clamp(29.04px, 4.5833333333vw, 88px) clamp(13.2px, 2.0833333333vw, 40px) clamp(13.2px, 2.0833333333vw, 40px) clamp(13.2px, 2.0833333333vw, 40px);
  width: clamp(205.92px, 32.5vw, 624px);
}

.tariffs__item-icon {
  position: absolute;
  top: 0;
  left: 50%;
  width: clamp(66px, 10.4166666667vw, 200px);
  height: clamp(66px, 10.4166666667vw, 200px);
  -moz-transform: translate(-50%, -65.51%);
  -ms-transform: translate(-50%, -65.51%);
  -webkit-transform: translate(-50%, -65.51%);
  -o-transform: translate(-50%, -65.51%);
  transform: translate(-50%, -65.51%);
}

.tariffs__item:nth-of-type(2) .tariffs__item-icon {
  width: clamp(76.56px, 12.0833333333vw, 232px);
  height: clamp(76.56px, 12.0833333333vw, 232px);
  -moz-transform: translate(-50%, -68%);
  -ms-transform: translate(-50%, -68%);
  -webkit-transform: translate(-50%, -68%);
  -o-transform: translate(-50%, -68%);
  transform: translate(-50%, -68%);
}

.tariffs__item-title {
  font-weight: 700;
  font-size: clamp(18.48px, 2.9166666667vw, 56px);
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: clamp(5.28px, 0.8333333333vw, 16px);
}

.tariffs__item-price {
  font-weight: 700;
  font-size: clamp(23.76px, 3.75vw, 72px);
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: center;
  position: relative;
  margin-bottom: clamp(1.65px, 0.2604166667vw, 5px);
  display: inline-block;
}

.tariffs__item-price small {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: calc(100% + clamp(2.64px, 0.4166666667vw, 8px));
  font-weight: 400;
  font-size: clamp(10.56px, 1.6666666667vw, 32px);
  color: var(--color-gray);
}

.tariffs__item-time {
  display: block;
  text-align: center;
  font-size: clamp(8.58px, 1.3541666667vw, 26px);
  line-height: 100%;
  letter-spacing: 0.02;
  text-align: center;
  color: var(--color-gray);
  margin-bottom: clamp(15.84px, 2.5vw, 48px);
}

.tariffs__item-list {
  text-align: left;
  margin-bottom: clamp(21.12px, 3.3333333333vw, 64px);
  font-size: clamp(7.92px, 1.25vw, 24px);
  line-height: clamp(10.56px, 1.6666666667vw, 32px);
}

.tariffs__item-list li {
  list-style: none;
  /* Убираем исходные маркеры */
  background: url(../images/tariffs/li.png) 0 50%/clamp(10.56px, 1.6666666667vw, 32px) no-repeat;
  padding-left: clamp(13.2px, 2.0833333333vw, 40px);
}

.tariffs__item-list li:not(:last-of-type) {
  margin-bottom: clamp(5.28px, 0.8333333333vw, 16px);
}

.tariffs__item-btn.btn {
  width: 100%;
  color: var(--color-black);
}

.contacts .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(15.84px, 2.5vw, 48px);
}

.contacts__description {
  width: clamp(221.76px, 35vw, 672px);
  flex-shrink: 0;
  font-weight: 500;
}

.contacts__cols {
  margin-top: clamp(15.84px, 2.5vw, 48px);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(21.12px, 3.3333333333vw, 64px);
}

.contacts__col {
  flex: 1;
}

.contacts__col p {
  margin: 0 !important;
}

.contacts__col a,
.contacts__col span {
  font-size: clamp(10.56px, 1.6666666667vw, 32px);
  line-height: 130%;
  letter-spacing: -0.01em;
}

.contacts__col a.wide,
.contacts__col span.wide {
  letter-spacing: 0.1em;
}

.contacts__col a mark,
.contacts__col span mark {
  background: transparent;
  color: var(--color-accent);
}

.contacts__col a {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.contacts__map {
  flex-grow: 1;
}

.reviews {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(15.84px, 2.5vw, 48px);
  padding-left: calc((100vw - min(87.5vw, var(--container-width))) / 2);
  padding-top: clamp(31.68px, 5vw, 96px);
  padding-bottom: clamp(31.68px, 5vw, 96px);
  position: relative;
}

.reviews__description {
  width: clamp(221.76px, 35vw, 672px);
  flex-shrink: 0;
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.reviews__description h3.section-title {
  padding: clamp(7.59px, 1.1979166667vw, 23px) clamp(0px, 0vw, 0px) clamp(7.59px, 1.1979166667vw, 23px) clamp(0px, 0vw, 0px);
  margin-bottom: clamp(15.84px, 2.5vw, 48px);
  flex-grow: 1;
}

.reviews__icon {
  position: absolute;
  width: clamp(33px, 5.2083333333vw, 100px);
  height: clamp(25.74px, 4.0625vw, 78px);
  top: 0;
  right: 0;
}

.reviews__nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.reviews__btn.btn {
  color: var(--color-black);
}

.reviews__slider-nav {
  position: static;
}

.reviews__slider-prev {
  background-color: var(--color-darkgray);
}

.reviews__slider-next {
  background-color: var(--color-darkgray);
}

.reviews__content {
  min-width: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.reviews__content > p {
  margin-top: 0 !important;
  margin-bottom: clamp(10.56px, 1.6666666667vw, 32px) !important;
  padding-right: calc((100vw - min(87.5vw, var(--container-width))) / 2);
  flex-grow: 1;
}

.reviews__slider {
  margin: 0;
  padding-right: calc((100vw - min(87.5vw, var(--container-width))) / 2);
}

.reviews__slide {
  width: clamp(126.72px, 20vw, 384px);
  height: auto;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  margin-right: clamp(5.28px, 0.8333333333vw, 16px);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.reviews__slide.swiper-slide-prev {
  opacity: 0;
}

.reviews__slide-text {
  background-color: var(--color-darkgray);
  flex-grow: 1;
  margin-top: 0 !important;
  padding: clamp(5.28px, 0.8333333333vw, 16px) clamp(5.28px, 0.8333333333vw, 16px) clamp(5.28px, 0.8333333333vw, 16px) clamp(5.28px, 0.8333333333vw, 16px);
  margin-bottom: clamp(5.28px, 0.8333333333vw, 16px);
  font-weight: 500;
  font-size: clamp(5.94px, 0.9375vw, 18px) !important;
  line-height: 130%;
}

.reviews__slide-author {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(5.28px, 0.8333333333vw, 16px);
}

.reviews__slide-avatar {
  width: clamp(18.48px, 2.9166666667vw, 56px);
  height: clamp(18.48px, 2.9166666667vw, 56px);
  object-fit: cover;
  object-position: center;
}

.reviews__slide-person {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.reviews__slide-person strong {
  font-weight: 500;
  font-size: clamp(7.92px, 1.25vw, 24px);
  line-height: 100%;
}

.reviews__slide-person span {
  font-weight: 600;
  font-size: clamp(5.94px, 0.9375vw, 18px);
  line-height: 100%;
  color: var(--color-gray);
}

.callback .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: clamp(15.84px, 2.5vw, 48px);
}

.callback h3.section-title {
  margin: 0 !important;
  width: clamp(221.76px, 35vw, 672px);
  flex-shrink: 0;
}

.callback__form {
  background-color: var(--color-black);
  padding: clamp(10.56px, 1.6666666667vw, 32px) clamp(10.56px, 1.6666666667vw, 32px) clamp(10.56px, 1.6666666667vw, 32px) clamp(10.56px, 1.6666666667vw, 32px);
  flex-grow: 1;
}

.callback__form p {
  color: var(--color-bg) !important;
  margin-top: 0 !important;
  margin-bottom: clamp(7.92px, 1.25vw, 24px) !important;
}

.callback__inputs {
  display: -ms-grid;
  display: -moz-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(2.64px, 0.4166666667vw, 8px);
}

.callback__inputs .custom-select {
  min-width: 0;
}

.callback__inputs .btn {
  padding: clamp(6.27px, 0.9895833333vw, 19px) clamp(7.92px, 1.25vw, 24px) clamp(6.27px, 0.9895833333vw, 19px) clamp(7.92px, 1.25vw, 24px) !important;
}

.callback__acceptance {
  grid-column: span 2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: var(--color-bg);
  align-items: center;
  gap: clamp(5.28px, 0.8333333333vw, 16px);
  font-weight: 500;
  font-size: clamp(6.6px, 1.0416666667vw, 20px);
  line-height: 130%;
}

.callback__acceptance a {
  color: var(--color-accent);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  z-index: 9999;
}

.modal__wrapper {
  height: 100%;
  overflow-y: auto;
  padding: clamp(33px, 5.2083333333vw, 100px) clamp(0px, 0vw, 0px) clamp(33px, 5.2083333333vw, 100px) clamp(0px, 0vw, 0px);
}

.modal__wrapper::-webkit-scrollbar {
  display: none;
}

.modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}

.modal.active .modal__content {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.modal__close {
  position: absolute;
  top: clamp(5.28px, 0.8333333333vw, 16px);
  right: clamp(5.28px, 0.8333333333vw, 16px);
  font-size: clamp(9.9px, 1.5625vw, 30px);
  line-height: 100%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.modal__content {
  position: relative;
  z-index: 1;
  background: var(--color-bg);
  padding: clamp(10.56px, 1.6666666667vw, 32px) clamp(10.56px, 1.6666666667vw, 32px) clamp(10.56px, 1.6666666667vw, 32px) clamp(10.56px, 1.6666666667vw, 32px);
  width: clamp(297px, 46.875vw, 900px);
  -moz-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
  -webkit-transform: translate(0, -20px);
  -o-transform: translate(0, -20px);
  transform: translate(0, -20px);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  opacity: 0;
}

.modal__content .section-title {
  text-align: center;
}

.modal__content p {
  text-align: center;
}

.modal__bg {
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 0;
}

.modal__form {
  background: var(--color-black);
  padding: clamp(10.56px, 1.6666666667vw, 32px) clamp(10.56px, 1.6666666667vw, 32px) clamp(10.56px, 1.6666666667vw, 32px) clamp(10.56px, 1.6666666667vw, 32px);
}

.modal__inputs {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: clamp(5.28px, 0.8333333333vw, 16px);
  z-index: 2;
  position: relative;
}

.modal__inputs .btn {
  width: fit-content;
  margin: 0px auto;
  margin-top: clamp(5.28px, 0.8333333333vw, 16px);
}

.modal__acceptance {
  grid-column: span 2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: var(--color-bg);
  align-items: center;
  gap: clamp(5.28px, 0.8333333333vw, 16px);
  font-weight: 500;
  font-size: clamp(6.6px, 1.0416666667vw, 20px);
  line-height: 130%;
}

.modal__acceptance a {
  color: var(--color-accent);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.footer {
  padding: clamp(62.04px, 9.7916666667vw, 188px) clamp(0px, 0vw, 0px) clamp(21.12px, 3.3333333333vw, 64px) clamp(0px, 0vw, 0px);
  background: var(--color-black);
  color: var(--color-bg);
  position: relative;
}

.footer .container {
  display: -ms-grid;
  display: -moz-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__line {
  position: absolute;
  width: 100vw;
  top: clamp(21.12px, 3.3333333333vw, 64px);
  left: 0;
}

.footer__nav ul {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(13.2px, 2.0833333333vw, 40px);
}

.footer__nav a {
  font-size: clamp(10.56px, 1.6666666667vw, 32px);
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-bg);
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.footer__nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: clamp(1.32px, 0.2083333333vw, 4px);
  background-color: var(--color-accent);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.footer__credentials {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: clamp(10.56px, 1.6666666667vw, 32px);
  text-align: center;
}

.footer__credentials p {
  color: var(--color-gray);
  font-weight: 500;
  font-size: clamp(7.92px, 1.25vw, 24px);
  line-height: 130%;
}

.footer__credentials-logo svg {
  width: clamp(64.02px, 10.1041666667vw, 194px);
  height: clamp(64.02px, 10.1041666667vw, 194px);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.footer__credentials-logo path {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.footer__links {
  text-align: right;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(11.22px, 1.7708333333vw, 34px);
}

.footer__group {
  font-weight: 500;
}

.footer__group p {
  color: var(--color-gray);
  font-size: clamp(8.58px, 1.3541666667vw, 26px);
  margin: 0 !important;
}

.footer__group a,
.footer__group span {
  font-size: clamp(10.56px, 1.6666666667vw, 32px);
  line-height: 130%;
  display: block;
}

.footer__group a.wide,
.footer__group span.wide {
  font-size: clamp(13.2px, 2.0833333333vw, 40px);
  letter-spacing: 0.1em;
}

.footer__group a mark,
.footer__group span mark {
  background: transparent;
  color: var(--color-accent);
}

.footer__group a {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

@media only screen and (hover: hover) {
  a:hover {
    text-decoration: none;
  }

  .slider-nav-btn:hover {
    background-color: var(--color-bg);
  }

  .slider-nav-btn:hover path {
    fill: var(--color-black);
  }

  .btn:hover {
    background-color: var(--color-gray);
    color: var(--color-bg);
  }

  .btn:hover svg {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  .btn:hover path {
    fill: var(--color-bg);
  }

  .check-label:hover .fakecheck {
    outline: 0.5px solid var(--color-accent);
    border-color: var(--color-accent);
  }

  .check-label .fakecheck:hover {
    outline: 0.5px solid var(--color-accent);
    border-color: var(--color-accent);
  }

  .custom-select .custom-option:hover:not(.custom-select .custom-option.selected) {
    background: #e1d9d0;
  }

  .header.animated .header__logo:hover path {
    fill: var(--color-accent);
  }

  .header__logo:hover path {
    fill: var(--color-accent);
  }

  .header__nav li a:hover:after {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .header__btn:hover {
    background: var(--color-gray);
    color: var(--color-bg);
  }

  .header__btn:hover path {
    fill: var(--color-bg);
  }

  .offer__img a:hover {
    background: var(--color-accent);
  }

  .offer__img a:hover span {
    background: var(--color-accent);
  }

  .offer__img a:hover span::before {
    opacity: 1;
  }

  .offer__img a:hover span::after {
    opacity: 1;
    width: 135%;
    height: 135%;
  }

  .offer__img a:hover::before,
  .offer__img a:hover::after {
    opacity: 0 !important;
  }

  .offer__pagination .swiper-pagination-bullet:hover {
    background: var(--color-darkgray);
  }

  .about__thumbs-slide:hover:not(.about__thumbs-slide.swiper-slide-thumb-active):after {
    opacity: 0.3;
  }

  .trainers__slide:hover img {
    filter: grayscale(0);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }

  .trainers__slide:hover .trainers__slide-btn {
    background-color: var(--color-gray);
    color: var(--color-bg);
    padding-left: clamp(13.2px, 2.0833333333vw, 40px);
  }

  .trainers__slide:hover .trainers__slide-btn svg {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  .trainers__slide:hover .trainers__slide-btn path {
    fill: var(--color-bg);
  }

  .contacts__col a:hover {
    color: var(--color-accent);
  }

  .callback__acceptance a:hover {
    text-decoration: underline;
  }

  .modal__close:hover {
    color: var(--color-accent);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .modal__acceptance a:hover {
    text-decoration: underline;
  }

  .footer__nav a:hover::after {
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .footer__credentials-logo:hover svg {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }

  .footer__credentials-logo:hover path {
    fill: var(--color-accent);
  }

  .footer__group a:hover {
    color: var(--color-accent);
  }
}